.parent-container {
  display: flex;
}

.container-medium {
  width: 50%;
}

.container-large {
  width: 50%;
}

.table-container {
  overflow: auto;
}

/* ion-card-content {
  height: 300px;
} */


@media (max-width: 700px) {
  .parent-container {
    display: block;
  }

  .container-large {
    width: 100%;
  }

  .container-medium {
    width: 100%;
   }
}
